<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.manager.dao.device.DeviceLogDao">
    <resultMap id="BaseResultMap" type="com.bank.manager.domain.log.DeviceLog">
        <result column="id" property="id"/>
        <result column="deviceReportedTime" property="deviceReportedTime"/>
        <result column="facility" property="facility"/>
        <result column="priority" property="priority"/>
        <result column="fromHost" property="fromHost"/>
        <result column="message" property="message"/>
        <result column="syslogTag" property="syslogTag"/>

    </resultMap>


    <sql id="Base_Column_List">
		id, deviceReportedTime,facility,priority,fromHost,message,syslogTag
	</sql>
    <select id="getDeviceLogList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SystemEvents
        where deviceReportedTime between #{startTime} and #{endTime}
        and fromHost = #{fromHost}
        <if test="priority !=99">
            and priority = #{priority}
        </if>


    </select>
</mapper>