<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.manager.dao.SsoDao">
    <resultMap id="BaseResultMap" type="com.bank.manager.domain.user.Sso">
        <result column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="c_time" property="createTime"/>
    </resultMap>

    <insert id="saveUserInfo" parameterType="Sso">
        insert into t_sso (username,password,c_time,ip_address)
        values(#{userName},#{password},#{createTime},#{ipAddress})
    </insert>
    <update id="updateUserInfo" parameterType="Sso">
        update t_sso set
            ip_address = #{ipAddress},
            <if test="userName!=null">
                username=#{userName},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="createTime!=null">
                c_time = #{createTime}
            </if>
        where username = #{userName}
    </update>

    <select id="getUserInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select username ,password
        from t_sso
        where ip_address = #{ipAddress}
        order by id desc limit 1
    </select>
</mapper>