<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.manager.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.bank.manager.domain.user.User">
        <result column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="mobile" property="mobile"/>
        <result column="token" property="token"/>
        <result column="login_time" property="loginTime"/>
        <result column="c_time" property="createTime"/>
        <result column="c_uid" property="createUid"/>
        <result column="e_time" property="editTime"/>
        <result column="e_uid" property="editUid"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
		u.id id, u.username,u.mobile,u.role_id,r.role_name ,u.token,u.email,u.c_time,u.e_time,u.description
	</sql>

    <select id="getUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user u
        left join t_role r on u.role_id = r.id
        where u.username != 'admin'
    </select>
    <select id="findById" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from t_user u
        left join t_role r on u.role_id = r.id
        where u.id = ${id}
    </select>

    <insert id="saveUser">
		insert into
			t_user(id,username,password,role_id,mobile,email,c_time,c_uid)
		values
			(#{id},#{userName},#{password},#{roleId},#{mobile},#{email},#{createTime},#{createUid})
	</insert>

    <update id="updateUser">
        update
        t_user
        set
        <if test="userName!=null">
            username = #{userName},
        </if>
        <if test="password!=null" >
            password = #{password},
        </if>
        <if test="roleId!=0">
            `role_id` = #{roleId},
        </if>
        <if test="mobile!=null">
            mobile = #{mobile},
        </if>
        <if test="editUid!=0">
            `e_uid` = #{editUid},
        </if>
        <if test="email!=null">
            email = #{email},
        </if>

        <if test="description!=null">
            description = #{description},
        </if>
        <if test="editTime!=null">
            e_time = #{editTime}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Long">
		delete from
			t_user
		where
			id = #{id}
	</delete>

    <delete id="deleteUsers" parameterType="java.lang.String">
		delete from
			t_user
		where
			id in( #{ids} )
	</delete>

    <select id="findByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		count(*)
		from t_user
		where username = #{userName}
	</select>

    <select id="findByToken" resultType="int">
		select
		count(*)
		from t_user
		where id = #{id} and token = #{token}
	</select>

    <select id="login" resultMap="BaseResultMap">
		select
		id,username,role_id
		from t_user
		where username = #{userName}
	</select>
    <select id="checkAdmin" parameterType="User" resultType="INTEGER">
        select count(id) from t_user where username = #{userName} and password = #{password}
    </select>

    <update id="updateUserToken" >
        update
        t_user
        set token = #{token},login_time=#{loginTime} where id = #{id}

    </update>
    <select id="checkUserName" parameterType="java.lang.String" resultType="INTEGER">
		select
		count(*)
		from t_user
		where username = #{userName}
	</select>
    <delete id="deleteByUsername" parameterType="java.lang.String">
        delete from t_user where username = #{userName}
    </delete>
</mapper>